<div class="container" ng-controller="SignUpController as reg">
  <h1>Newsletter Registration Form</h1>

  <div class="col-xs-12 pull-right">
  <fieldset>
    <form name='regForm' novalidate>

      <div class="form-group form-horizontal">
        <label for="username" class="col-xs-4 col-form-label">First Name: <em>{{ reg.user.firstname }}</em> </label>
        <div class="col-xs-8">
          <input type="text" name="first-name" placeholder="Insert your name"
            ng-model="reg.user.firstname" required minlength="4" ng-maxlength="10">
          <span ng-if="(regForm.firstname.$error.minlength || regForm.firstname.$error.required) && regForm.firstname.$touched">
                  First name must be at least 4 characters long
                </span>
          <span ng-if="regForm.firstname.$error.maxlength && regForm.firstname.$touched">
                  First name must not be longer than 10 characters
                </span>
        </div>
      </div>

      <!-- <input type="text" name="last-name" placeholder="Insert your last name" ng-model="reg.user.lastname"
        required minlength="4" ng-maxlength="10"> {{ reg.user.lastname }}
      <span ng-if="(regForm.lastname.$error.minlength || regForm.lastname.$error.required) && regForm.lastname.$touched">
              Last name must be at least 4 characters long
            </span>
      <span ng-if="regForm.lastname.$error.maxlength && regForm.lastname.$touched">
              Last name must not be longer than 10 characters
            </span>
      <br> -->

      <!-- <input type="email" name="email" placeholder="Email" ng-model="reg.user.email" required>
      <span ng-if="regForm.email.$invalid && regForm.email.$touched">
              Must be a valid email address: handle@domain format
            </span>
      <br> -->

      <!-- <input type="text" name="phone" placeholder="Phone ###-###-####" ng-model="reg.user.phone"
        pattern="(\d{3})-(\d{3})-(\d{4})">
      <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
              Phone must be in the format ###-###-####.
            </span>
      <br> -->

      <div class="form-group">
        <label for="favorite" class="col-xs-4 control-label">Favorite Dish: <em>{{ signupCtrl.user.favorite }}</em></label>
        <div class="col-xs-8">
          <input type="text" name="favourite-dish" placeholder="Insert the menu number of your favourite dish"
            ng-model="reg.user.favouriteDish" minlength="2" ng-maxlength="10">
          <span ng-if="(regForm.favourite-dish.$error.minlength || regForm.favourite-dish.$error.required) && regForm.favouriteDish.$touched">
                      Favourite dish must be at least 2 characters long
                    </span>
          <span ng-if="regForm.lastname.$error.maxlength && regForm.lastname.$touched">
                      Favourite dish must not be longer than 10 characters
                    </span>
        </div>
      </div>

      <button type="submit" class="btn btn-primary col-xs-2"
          ng-disabled="regForm.$invalid"
          ng-click="reg.submit()">Submit</button>

      <div style="margin-top: 10px;">
        <span ng-if="reg.dishNotFound">No such menu number exists</span>
      </div>
    </form>
  </fieldset>
  </div>

  <div ng-if="reg.complete" class="col-sm-offset-4 col-sm-8" style="margin-top: 15px;">
    <p>&nbsp;</p>
    <span class="alert alert-success">
    <strong>Your information has been saved.</strong>
    </span>
  </div>

</div>
